.back-drop {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: black;
    color: white;
    opacity: 90%;
    z-index: 12;
    top: 0%;
}
.svg-wrapper {
    position: relative;
    top: 50%;
    margin: 0 auto;
    width: 320px; 
}
.shape {
    stroke-dasharray:  0 1260;
    stroke-dashoffset: 1260;
    stroke-width: 5px;
    fill: transparent;
    stroke: #19f6e8;
    border-radius: 20px;
    transition:
        stroke-width 1s, 
        stroke-dashoffset 2s, 
        stroke-dasharray 2s, 
        stroke 2s;
}
.text2 {
    font-family: 'Roboto Condensed';
    font-size: 22px;
    line-height: 32px;
    letter-spacing: 8px;
    color: white;
    top: -275px;
    position: relative;
}
.animate-border {
    stroke-width: 2px;
    stroke-dashoffset: 0;
    stroke-dasharray: 1260;
    stroke: white;
}
.login-wrapper {
    position: sticky;
    height: 0px;
    z-index: 13;
    top: 30%;
}
.admin-mode-label {
    margin-bottom: 5%;
}
.admin-mode-user {
    /* font-size: medium; */
    margin-bottom: 2.5%;
}

.admin-mode-pass {
    /* font-size: medium; */
    margin-bottom: 5%;
}

/* blue shimmer */
.shimmer {
    text-align: center;
    color: #19f6e7ad;
    background: -webkit-gradient(linear, left top, right top, from(red), to(red), color-stop(0.4, #fff));
    background: -moz-gradient(linear, left top, right top, from(red), to(red), color-stop(0.4, #fff));
    background: gradient(linear, left top, right top, from(red), to(red), color-stop(0.4, #fff));
    -webkit-background-size: 50px 110%;
    -moz-background-size: 50px 110%;
    background-size: 50px 110%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-animation-name: shimmer;
    -moz-animation-name: shimmer;
    animation-name: shimmer;
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-color: #222;
}
/* red shimmer */
/* .shimmer {
    text-align: center;
    color: rgba(255, 68, 0, 0.7);
    background: -webkit-gradient(linear, left top, right top, from(red), to(red), color-stop(0.4, #fff));
    background: -moz-gradient(linear, left top, right top, from(red), to(red), color-stop(0.4, #fff));
    background: gradient(linear, left top, right top, from(red), to(red), color-stop(0.4, #fff));
    -webkit-background-size: 50px 110%;
    -moz-background-size: 50px 110%;
    background-size: 50px 110%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-animation-name: shimmer;
    -moz-animation-name: shimmer;
    animation-name: shimmer;
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-color: #222;
} */
@-moz-keyframes shimmer {
    0% {
        background-position: top left;
    }
    100% {
        background-position: top right;
    }
}
@-webkit-keyframes shimmer {
    0% {
        background-position: top left;
    }
    100% {
        background-position: top right;
    }
}
@-o-keyframes shimmer {
    0% {
        background-position: top left;
    }
    100% {
        background-position: top right;
    }
}
@keyframes shimmer {
    0% {
        background-position: top left;
    }
    100% {
        background-position: top right;
    }
}